@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    * {
        margin: 0;
        padding: 0;
        
    }

    .btn {
       background-color: white;
       border: none;
       
    }

    ul {
        list-style: none;

    }

    li {
        display: inline-block;
    }
}
